* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Noto Sans';
    color: aliceblue;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
body a {
    color: rgb(220, 220, 220);
}
body p {
    margin: 0.7em 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em 2.8em;
}
nav {
    position: sticky;
}
nav ul {
    display: flex;
    justify-content: space-between;

}
nav ul li {
    list-style-type: none;
    padding: 0.5em;
    margin: 0 1em;
}
nav a {
    text-decoration: none;
    font-size: 1em;
    transition: all 0.2s;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
}
nav a:hover {
    border-bottom: 1px solid white;
}





main {
    max-width: 38em;
    padding: 0 2em;
}




section {
    margin: 0.8em 0 2.7em 0;
}

section h3 {
    margin: 0.1em 0;
}




.pitem {
    width: 28m;
    background-color: rgba(23, 36, 156, 0.64);
    padding: 0.7em 1em;
    border-radius: 0.7em;
}

.pitem button{
    border: none;
    background-color: rgb(201, 215, 249);
    border-radius: 0.2em;
    padding: 0.3em 0.8em;
    margin: 0.3em 0;

}




footer {
    text-align: center;
}