@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Amarante */
@font-face {
  font-family: 'Amarante';
  src: url('fonts/Amarante-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Avenir Family */
@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir Book.ttf') format('truetype');
  font-weight: 450; /* Map book weight slightly above regular, or 400 if preferred */
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir Heavy.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir';
  src: url('fonts/Avenir Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Quicksand Variable */
@font-face {
  font-family: 'Quicksand';
  src: url('fonts/Quicksand_Variable.ttf') format('truetype-variations');
  font-weight: 300 700; /* Supports a range of weights dynamically */
  font-style: normal;
}

html {
	scroll-behavior: smooth;
  font-size: 23px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'avenir','';
  font-size: 0.9rem;
  color: rgb(250,250,240);
  background-color: rgb(3,3,3);
  display: flex;
  justify-content: center;
}
body a {
  color: rgb(140, 190, 220);
}

.wrapper {
  width: max(1100px, 45%);
  min-height: 100vh;
  padding: 0 2em;
  background: linear-gradient(45deg, rgba(8,8,8,1), rgba(24,17,15,1), rgba(15,18,25,1));
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem 0px;
}
header nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
header nav ul li a {
  margin: 0 0.4rem;
  padding: 0.3rem;
}


section {
  margin: 0 0 2.2em 0;
}
section h2 {
  font-weight: 800;
}
section p {
  line-height: 120%;
}
#home {
  margin-top: 2em;
